<ng-container *ngIf="dataSource">
  <div class="mb-3 d-flex flex-row align-items-center justify-content-between">
    <h2 class="mb-0">Addresses</h2>
    <a mat-button (click)="showDetail(null)">Add New</a>
  </div>

  <ng-container *ngIf="dataSource.addressesSubject$.getValue().length > 0; else notFound">
    <mat-table class="persons-table mat-elevation-z8" [dataSource]="dataSource">
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
        <mat-cell *matCellDef="let address">{{address.address}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="post_code">
        <mat-header-cell *matHeaderCellDef>Post Code</mat-header-cell>
        <mat-cell style="width: 120px" *matCellDef="let address">{{address.post_code}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="city_name">
        <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
        <mat-cell style="width: 120px" *matCellDef="let address">{{address.city_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="country_name">
        <mat-header-cell *matHeaderCellDef>Country</mat-header-cell>
        <mat-cell style="width: 120px" *matCellDef="let address">{{address.country_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell style="width: 70px"
                  (click)="$event.stopPropagation()"
                  *matCellDef="let address">
          <a mat-icon-button (click)="delete(address)"><mat-icon>close</mat-icon></a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"
               class="cursor-pointer"
               matRipple
               (click)="showDetail(row)">
      </mat-row>
    </mat-table>

    <mat-paginator *ngIf="pagination && personId"
                   [length]="pagination?.total"
                   [pageIndex]="pagination?.current_page"
                   [showFirstLastButtons]="true"
                   (page)="dataSource.loadAddresses(personId, $event.pageIndex + 1)"
                   [pageSize]="pagination?.per_page">
    </mat-paginator>
  </ng-container>
  <ng-template #notFound>Address not found.</ng-template>
</ng-container>
