<ng-container *ngIf="dataSource">
  <div class="mb-3 d-flex flex-row align-items-center justify-content-between">
    <h2 class="mb-0">People</h2>
    <a mat-button routerLink="/persons/add">Add New</a>
  </div>


  <ng-container *ngIf="dataSource.personsSubject$.getValue().length > 0; else notFound">
    <mat-table class="persons-table mat-elevation-z8" [dataSource]="dataSource">
      <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
      </div>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let person">{{person.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="birthday">
        <mat-header-cell *matHeaderCellDef>Birthday</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let person">{{moment(person.birthday).format('LL dddd')}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let person">{{person.gender}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell style="width: 70px"
                  (click)="$event.stopPropagation()"
                  *matCellDef="let person">
          <a mat-icon-button (click)="delete(person)"><mat-icon>close</mat-icon></a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"
               class="cursor-pointer"
               matRipple
               (click)="showDetail(row)"></mat-row>
    </mat-table>

    <mat-paginator *ngIf="pagination"
                   [length]="pagination?.total"
                   [pageIndex]="pagination?.current_page"
                   [showFirstLastButtons]="true"
                   (page)="dataSource.loadPersons($event.pageIndex + 1)"
                   [pageSize]="pagination?.per_page">
    </mat-paginator>
  </ng-container>
  <ng-template #notFound>Person not found.</ng-template>
</ng-container>
